<!DOCTYPE html>
<html>

<head>
    <title>
        Music Encyclopedia
    </title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>
    <table>
        <tr>
            <td>
                <form onsubmit="event.preventDefault();window.script.onSignIn();" autocomplete="off">
                    <div>
                        <label>Username</label><label class="validation-error hide" id="signInValidationError">An username and password are required.</label>
                        <input type="text" name="userName" id="userName">
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="text" name="passWord" id="passWord">
                    </div>
                    <input type="submit" value="Sign In">
                </form>
                <form method="POST" action="register.html">  
                    <input type="submit" value="Register">  
                </form>    
            </td>
        </tr>
    </table>
    <script type="module">
        import * as script from "./script.js";
        window.script = script;
    </script>
</body>

</html>