extends layout.pug

block content
  h1= "Enter an username and password."
  p=description
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/register')
              div.form-group
                label(for='Username') Username:
                input#name.form-control(type='text', placeholder='Username' name='Username')
              div.form-group
                label(for='Password') Password:
                input#email.form-control(type='Password', placeholder='Password' name='Password')
              button.btn.btn-primary(type="submit", name="Register") Register