extends layout.pug

block content
  h1= "Music Encyclopedia"
    p= user
    body
        div
            a(href='/register') Add a Composition! 
        div
            a(href='/composer') Add a Composer!
        div
            a(href='/musicCollection') View your Music Collections!
        
        form(role='form' method='POST' action='/createCollection')
            div.form-group
                label(for='collectionName') Create a new Music Collection:
                input#name.form-control(type='text', placeholder='Collection Name', name='name')
                button.btn.btn-primary(type="submit", name="create") Create
            em=creationResult

